# Port d'écoute du serveur web Animflix
PORT=3000

# URL interne de TorrServer
TORRSERVER_URL=http://127.0.0.1:8090

# Clé API TMDB (Optionnel : TVMaze et Kitsu sont utilisés automatiquement sans clé)
TMDB_API_KEY=

# Client ID AniList (Optionnel : pour la connexion OAuth 1-clic)
ANILIST_CLIENT_ID=
